uvicorn
fastapi
sqlalchemy
dotenv
asyncpg
PyJWT
python-multipart
pyautogen>=0.4.0
autogen-agentchat>=0.4.0
autogen-ext>=0.4.0
openai
tiktoken
mcp
langchain
langgraph
langchain-community
langchain_openai
langchain_mcp_adapters
